versions/a0.2/txt/oads_metadata_a0.2.xsd.txt

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://ncei.noaa.gov/oads_metadata"
  xmlns="http://ncei.noaa.gov/oads_metadata" elementFormDefault="qualified"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <xs:include schemaLocation="commonTypes.xsd"/>
  <xs:include schemaLocation="person.xsd"/>
  <xs:include schemaLocation="variables.xsd"/>
  
  <xs:element name="oads_metadata" type="oads_metadata_document_type" />

  <xs:complexType name="oads_metadata_document_type">
    <xs:sequence>
      <xs:element name="investigators" type="investigators_collection" />
      <xs:element name="dataSubmitter" type="person_type" />
      <xs:element name="title" type="xs:string" />
      <xs:element name="abstract" type="xs:string" />
      <xs:element name="purpose" type="xs:string" />
      <xs:element name="temporalExtents" type="temporal_extents_type" />
      <xs:element name="geospatialExtents" type="geospatial_extents_type" />
      <xs:element name="geospatialReference" type="xs:string" />  <!-- XXX type="geospatial_reference_type" /> -->
      <xs:element name="sampleCollectionRegions" type="geographic_region_name_collection" />
      <xs:element name="organismCollectionRegions" type="geographic_region_name_collection" minOccurs="0" />
      <xs:element name="fundingInformation" type="funding_information_type" />
      <xs:element name="researchProjects" type="research_project_collection" minOccurs="0" />
      <xs:element name="platforms" type="platform_collection" />
      <xs:element name="cruiseIdentifiers" type="cruise_identifiers_collection" />
      <xs:element name="section" type="xs:string" minOccurs="0" />
      <xs:element name="citation" type="xs:string" minOccurs="0" />
      <xs:element name="references" type="general_string_collection" minOccurs="0" />
      <xs:element name="keywords" type="general_string_collection" minOccurs="0" />
      <xs:element name="supplementalInformation" type="mixed_collection" minOccurs="0" />
      <xs:element name="variables" type="variable_collection" />
      <xs:element name="update" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
  <!-- END of 1st level schema -->

  <xs:complexType name="archive_info_type" />

  <!-- basic elements -->
  <xs:complexType name="temporal_extents_type">
    <xs:sequence>
      <xs:element name="startDate" type="xs:date" />  <!-- format YYYY-MM-DD -->
      <xs:element name="endDate" type="xs:date" />  <!-- format YYYY-MM-DD -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geospatial_extents_type">
    <xs:sequence>
      <xs:element name="westernBounds" type="xs:decimal" />
      <xs:element name="easternBounds" type="xs:decimal" />
      <xs:element name="northernBounds" type="xs:decimal" />
      <xs:element name="southernBounds" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="altitude_range_type">
    <xs:sequence>
      <xs:element name="maxAltitude" type="xs:decimal" />
      <xs:element name="minAltitude" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="depth_range_type">
    <xs:sequence>
      <xs:element name="maxDepth" type="xs:decimal" />
      <xs:element name="minDepth" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funding_source_type">
    <xs:sequence>
      <xs:element name="agency" type="xs:string" />  <!-- and/or org-ref -->
      <xs:element name="title" type="xs:string" />
      <xs:element name="identifier" type="typed_identifier_type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="research_project_type">
    <xs:sequence>
      <xs:element name="organization" type="xs:string" /> <!-- and/or org-ref -->
      <xs:element name="title" type="xs:string" />
      <xs:element name="url" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="platform_type">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="identifier" type="typed_identifier_type" />
      <xs:element name="type" type="type_platform_type" /> <!-- controlled vocab -->
      <xs:element name="owner" type="xs:string" /> <!-- and/or org-ref -->
      <xs:element name="country" type="xs:string" /> <!-- controlled vocab -->
    </xs:sequence>
  </xs:complexType>

  <xs:element name="abstract_string" type="xs:string" abstract="true" />
  <xs:element name="author" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="reference" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="keyword" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="code" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="id" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="expocode" type="xs:string" substitutionGroup="abstract_string" />
  <xs:element name="cruiseId" type="xs:string" substitutionGroup="abstract_string" />
 
  <!-- collection wrapper elements -->
  <xs:complexType name="general_string_collection">
    <xs:sequence>
      <xs:element ref="abstract_string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person_collection">
    <xs:sequence>
      <xs:element name="person" type="person_type" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="investigators_collection">
    <xs:sequence>
      <xs:element name="investigator" type="person_type" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geographic_region_name_collection">
    <xs:sequence>
      <xs:element name="region" type="xs:string" maxOccurs="unbounded" /> <!-- TODO: controlled vocabulary -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funding_information_type">
    <xs:sequence>
      <xs:element name="fundingSource" type="funding_source_type"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="research_project_collection">
    <xs:sequence>
      <xs:element name="project" type="research_project_type"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="platform_collection">
    <xs:sequence>
      <xs:element name="platform" type="platform_type" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cruise_identifiers_collection">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="expocode" type="xs:string" />
      <xs:element name="cruiseId" type="xs:string" />
      <xs:element name="identifier" type="typed_identifier_type" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="variable_collection">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="variable" type="base_variable_type" />
      <xs:element name="measured" type="measured_variable" />
      <xs:element name="dic" type="dic_sample_type"/>
      <xs:element name="ta" type="ta_sample_type"/>
      <xs:element name="ph" type="ph_sample_type"/>
      <xs:element name="co2a" type="co2_atonomous" />
      <xs:element name="co2d" type="co2_discrete" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="mixed_collection">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
  </xs:complexType>

  <!-- base types -->
  <xs:simpleType name="type_platform_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Research Vessel" />
      <xs:enumeration value="ship" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
