schema/archival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE version SYSTEM "version.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="&NS_HOST;/&PKG_NAME;/&VERSION;" xmlns="&NS_HOST;/&PKG_NAME;/&VERSION;"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <xs:include schemaLocation="people.xsd"/>

  <xs:complexType name="archival_info">
    <xs:sequence>
      <xs:element name="archive" type="archive_info" maxOccurs="unbounded"/>
      <!-- include alternate repos / locations, or only primary here? -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="archive_info">
    <xs:sequence>
      <xs:element name="data_center" type="organization_or_ref"/>
      <!-- ? Do we need a status element, for perhaps "submitted" or "in-process" or whatever ? -->

      <xs:element name="archival_id" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <!-- eg accession # -->
      <!--  This would be for NCEI accession #s
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]{7}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      -->
      <!-- from SOCAT version -->
      <xs:element name="dataset_URL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
      <xs:element name="metadata_URL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
      <xs:element name="date_published" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <!-- ? dateTime? -->

      <xs:element name="initial_submission" type="submission_info"/>
      <!-- reference to rev_history? -->
      <xs:element name="latest_revision" type="submission_info"/>
      <!-- reference to rev_history? -->
      <xs:element name="revision_history">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision" type="revision" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- xs:any minOccurs="0" maxOccurs="unbounded"/> # Why ?? -->
    </xs:sequence>
    <!-- socat refers to "alternative repositories ... -->
    <xs:attribute name="primary" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="submission_info">
    <xs:sequence>
      <xs:element name="submitted_by" type="person_ref"/>
      <xs:element name="submission_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="revision">
    <xs:complexContent>
      <xs:extension base="submission_info">
        <xs:sequence>
          <xs:element name="revision_description" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- 
  <xs:complexType name="archivey_info">
    <xs:sequence>
      <xs:element name="accession" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="metadata_update" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="doi" type="xs:string" minOccurs="0" maxOccurs="1" />
     <xs:element name="date_last_revision" type="xs:date" minOccurs="0" maxOccurs="1"/> <!-X- ? metadata and/or data revision ? -X->
  -->

</xs:schema>
