schema/dataset_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE version SYSTEM "version.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="&NS_HOST;/&PKG_NAME;/&VERSION;" xmlns="&NS_HOST;/&PKG_NAME;/&VERSION;"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <xs:include schemaLocation="common_types.xsd"/>
  <xs:include schemaLocation="archival.xsd"/>
  <xs:include schemaLocation="people.xsd"/>
  <xs:include schemaLocation="organizations.xsd"/>
  <xs:include schemaLocation="variables.xsd"/>

  <!-- Perhaps need to have "submission" metadata and "published" metadata -->
  <xs:group name="dataset_base_fields">
    <xs:annotation>
      <xs:documentation> These are the fields and elements that are common to all dataset profiles.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <!-- identifier(s) 
            - DOI - req'd if available
            ? Expocode      >? multiple :: doesn't belong here
            ? Cruise ID     >? multiple :: doesn't belong here
            ? Station ID    >? multiple :: doeen't belong here
            ? Project ID    >? ambiguous  
            ? Experiment ID >? ambiguous
            I think we'll put these various identifiers into the appropriate sections.
      -->
      <xs:element name="DOI" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
      <!-- required if available; multiple DOIs? -->

      <!-- alternatively:
        <xs:element name="dataset_identifier" type="typed_identifier" minOccurs=1, maxOccurs="unbounded" />
      -->

      <xs:choice>
        <xs:element name="data_submitter" type="person_ref"/>
        <xs:element name="archival" type="archival_info"/>
      </xs:choice>

      <!-- To be included:  (?)
           metadata_date : date of latest published version of the metadata
           dataset_data_date : date of latest published version of the data
           -->
      
      <!-- primary archive information
            - accession #
            - archive / data center
            - dataset URL
            - metadata URL - opt
            - published date 
            - latest revision date - opt
            ? Do we include all repositories / archives here?
      -->

      <xs:element name="dataset_type" type="dataset_types"/>
      <xs:element name="dataset_data_type" type="dataset_data_types"/>

      <!-- 
        ? original submitter or latest revision? 
        ? what about submissions to alternate repositories?
        
        This is another place where we perhaps need both "submission" and "published" metadata profile.
      -->


      <!-- dataset contact 
            - person or organization
              + contact info
                - email - req'd ?? enforceable in schema??
      -->
      <xs:element name="dataset_contact">
        <!-- ? data submitter ? -->
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="person" type="person_with_role"/>
            <xs:element name="organization" type="organization_or_ref"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>

      <!-- data provider / credited organization -->
      <xs:element name="data_provider" type="organization_or_ref"/>

      <!-- title -->
      <xs:element name="dataset_title" type="xs:string"/>
      <!-- description (abstract) -->
      <xs:element name="dataset_description" type="xs:string"/>

      <!-- data license -->
      <xs:element name="data_license" type="typed_element" minOccurs="0" maxOccurs="1"/>
      <!-- ? required by tools? -->

      <!-- ? (fair) data use and/or use limitation ? -->
      <!-- ? <xs:element name="purpose" type="xs:string"/> -->

      <!-- researchers -->
      <xs:element name="researchers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="researcher" type="person_with_role" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- author list -->
      <xs:element name="cited_authors">
        <xs:complexType>
          <xs:sequence>
            <!-- author must exist in researchers -->
            <xs:element name="author" type="ordered_reference" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- data coverage
            - temporal
            - geospatial
              - bounding box or?
              - lat/lon point (ie station location)  ??
            - vertical
      -->
      <xs:element name="data_coverage" type="spatio_temporal_extents"/>
      <xs:element name="sea_names" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            references to the controlled vocab @ https://vocab.nerc.ac.uk/collection/C16/current/ 
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sea" type="URI_reference" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- funding sources -->
      <xs:element name="funding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="funding_source" type="funding_source" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- research project(s?) -->
      <xs:element name="research_projects" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <!-- ?? What information is needed to reference a research project? -->
            <xs:element name="project" type="research_project" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- publications -->
      <xs:element name="publications" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="publication">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="DOI" type="xs:anyURI"/>
                  <xs:element name="URL" type="URI_reference"/>
                  <xs:element name="citation" type="xs:string"/>
                  <!-- ? fixed format ? -->
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- related datasets -->
      <!-- ? what constitutes related? 
             "other datasets collected from the same expedition"
        -->
      <xs:element name="related_datasets" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dataset" type="related_dataset" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="default_data_flagging_scheme" type="reference_or_description" minOccurs="0"
        maxOccurs="1"/>
      <xs:element name="default_missing_value_indicator" type="xs:string" minOccurs="0"
        maxOccurs="1"/>
      <!-- ?? double? For non-ascii files. -->

      <!-- supplemental information -->
      <xs:element name="supplemental_information" type="xs:string" minOccurs="0" maxOccurs="1"/>

      <!-- ? keywords : 
      <xs:element name="keywords" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="keyword" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      -->
      
    </xs:sequence>
  </xs:group>
  <!-- end of dataaset base fields -->

  <!-- FWIW, I disagree with this set of terms. -->
  <xs:simpleType name="dataset_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original Dataset"/>
      <xs:enumeration value="Data Compilation Product"/>
      <xs:enumeration value="Derived Product"/>
      <!-- xs:enumeration value="Experiment" / -->
      <!-- xs:enumeration value="Model Output" / -->
    </xs:restriction>
  </xs:simpleType>

  <!-- FWIW, I disagree with this set of terms. -->
  <xs:simpleType name="dataset_data_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="in-situ measurements"/>
      <xs:enumeration value="manipulated values"/>
      <!-- xs:enumeration value="derived values"/ -->
      <xs:enumeration value="model output"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="spatio_temporal_extents">
    <xs:sequence>
      <xs:element name="temporal_extents" type="temporal_extents"/>
      <xs:element name="geospatial_extents" type="spatial_extents" maxOccurs="unbounded"/>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="depth_extents" type="depth_range"/>
        <xs:element name="altitude_extents" type="altitude_range"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="platform">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="identifier" type="typed_identifier"/>
      <xs:element name="type" type="xs:string"/>
      <!-- type_platform"/> -->
      <!-- ??? controlled vocab NOT NCEI's -->
      <xs:element name="owner" type="xs:string"/>
      <!-- and/or org-ref -->
      <xs:element name="country" type="xs:string"/>
      <!-- controlled vocab -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="research_project">
    <xs:sequence>
      <xs:element name="organization" type="organization_or_ref"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="related_dataset">
    <xs:sequence>
      <xs:element name="link" type="xs:anyURI"/>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="decription" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="observations_ds_fields">
    <xs:sequence>
      <!-- platforms -->
      <xs:element name="platforms" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="platform" type="platform" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="observation_identifiers">
        <!-- ? Alternative: typed_identifiers -->
        <xs:complexType>
          <xs:sequence>
            <xs:element name="expocodes" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="expocode" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="cruise_ids" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="cruise_id" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="station_ids" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="station_id" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <!-- biological -->
  <xs:group name="biological_ds_fields">
    <xs:sequence>
      <xs:element name="organism_collection_regions" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="region" type="xs:string" maxOccurs="unbounded"/>
            <!-- TODO: controlled vocabulary -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:group name="experiment_ds_fields">
    <xs:sequence>
      <xs:element name="experiment_id" type="xs:string"/>
      <xs:element name="experiment_description" type="xs:string"/>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="experiment_location">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lab"/>
      <xs:enumeration value="field"/>
      <xs:enumeration value="mesocosm"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="mCDR_ds_fields">
    <xs:sequence>
      <xs:element name="mcdr_pathway" type="xs:string"/>
      <xs:element name="oae_treatment_type" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="ocean_alcalinity_enhancement_ds_fields">
    <xs:sequence>
      <xs:element name="project_id" type="xs:string"/>
      <xs:group ref="experiment_ds_fields"/>
      <xs:group ref="mCDR_ds_fields"/>
      <xs:element name="phase" type="experiment_phase" />
      <xs:element name="site_description" minOccurs="0" maxOccurs="1"/>
      <xs:element name="previous_mcdr_research_in_the_area" minOccurs="0" maxOccurs="1"/>
      <xs:element name="co-located_operations" minOccurs="0" maxOccurs="1"/>
      <xs:element name="meteorological_and_tidal_conditions" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alkalinity_feedstock_type" minOccurs="0" maxOccurs="1"/>
      <xs:element name="alkalinity_feedstock_description" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_location" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_depth" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_duration" type="datetime_extents" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_mechanism" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_effluent_density" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_regimen" minOccurs="0" maxOccurs="1"/>
      <xs:element name="dosing_rate_data" minOccurs="0" maxOccurs="1"/>
      <xs:element name="permit_number" minOccurs="0" maxOccurs="1"/>
      <xs:element name="permit_approval_document" minOccurs="0" maxOccurs="1"/>
      <xs:element name="permitting_authority" minOccurs="0" maxOccurs="1"/>
      <xs:element name="data_conflicts_and_unreported_data" minOccurs="0" maxOccurs="1"/>
      <xs:element name="additional_details" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="experiment_phase">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BASELINE"/>
      <xs:enumeration value="INTERVENTION"/>
      <xs:enumeration value="CONTROL"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:group name="manipulation_response_ds_fields">
    <xs:sequence>
      <xs:group ref="experiment_ds_fields"/>
      <!-- controlled vocab? lab, field, etc. -->
      <xs:group ref="biological_ds_fields"/>
      <!-- ?? mCDR fields? -->
      <!-- ?? oae_treatment_type? -->
      <xs:element name="site" type="experiment_location"/>
      <xs:element name="targeted_acidity_or_alkalinity_levels" minOccurs="0" maxOccurs="1"/>
      <xs:element name="seawater_source" type="seawater_source" />
      <xs:element name="seawater_treatment" type="xs:string" />
      <xs:element name="manipulation_method" minOccurs="0" maxOccurs="1"/>
      <xs:element name="location_where_the_experiment_was_carried_out" minOccurs="0" maxOccurs="1"/>
      <xs:element name="location_where_biological_subject_was_collected" minOccurs="0" maxOccurs="1"/>
      <xs:element name="treatment_duration" type="datetime_duration" maxOccurs="1"/>
      <xs:element name="additional_details" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="seawater_source">
    <xs:restriction base="xs:string">
      <xs:enumeration value="natural"/>
      <xs:enumeration value="artificial"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:group name="data_product_ds_fields">
    <xs:sequence>
      <xs:element name="data_sources">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source" type="data_reference" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="synthesis_product" type="synthesis_product"/>
        <xs:element name="calculated_product" type="calculated_product"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="synthesis_product">
    <xs:sequence>
      <xs:element name="data_quality_description" minOccurs="0" maxOccurs="1"/>
      <!-- LK -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculated_product">
    <xs:sequence>
      <xs:element name="calculation_method_reference" type="citation" minOccurs="0" maxOccurs="1"/>
      <!-- LK -->
      <xs:element name="calculation_method_description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <!-- LK -->
    </xs:sequence>
  </xs:complexType>

  <xs:group name="model_ds_fields">
    <xs:sequence>
      <xs:element name="model_name" type="xs:string"/>
      <xs:element name="model_version" type="xs:string"/>
      <xs:element name="physics_component_name_and_version" type="xs:string" minOccurs="0"
        maxOccurs="1"/>
      <xs:element name="bgc_component_name_and_version" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modelled_region" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="model_resolution" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="model_configuration" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="boundary_conditions" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="atmospheric_forcing" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tidal_forcing" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="other_model_forcing_details" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="river_and_sediment_flux_details" type="xs:string" minOccurs="0"
        maxOccurs="1"/>
      <xs:element name="spin_up_protocol" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="description_of_acid_or_alkalinity_addition" type="xs:string" minOccurs="0"
        maxOccurs="1"/>
      <xs:element name="codebase_link" type="xs:string"/>
      <xs:element name="additional_details" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>


</xs:schema>
