schema/variable_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE version SYSTEM "version.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://ncei.noaa.gov/oads/&VERSION;" xmlns="http://ncei.noaa.gov/oads/&VERSION;"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <xs:include schemaLocation="common_types.xsd"/>
  <xs:include schemaLocation="instrumentation.xsd"/>

  <xs:group name="base_variable_fields">
    <xs:sequence>
      <xs:element name="standard_name" type="standard_identifier"/>
      <!-- ?? multiple / different vocabs? -->
      <xs:element name="dataset_varname" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="variable_type" type="variable_type"/>
      <!-- variable_type - what are these? variable_genesis? /> -->
      <xs:element name="observation_type" type="xs:string"/>
      <!-- observation_type - what are these? variable_class? /> -->
      <xs:element name="units" type="xs:string">
        <!-- preferrably from controlled vocab -->
        <xs:annotation>
          <xs:documentation> Use N/A when not used. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="missing_value" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Required if different from dataet:default_missing_value, or default not
            specified. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="appropriate_use_quality" type="appropriate_use" minOccurs="0"/>
      <xs:element name="uncertainty" type="variable_uncertainty" minOccurs="0"/>
      <xs:element name="researcher" type="person_with_role"/>
      <!-- ??? multiple ? -->
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="appropriate_use">
    <xs:restriction base="xs:string">
      <xs:enumeration value="climate"/>
      <xs:enumeration value="weather"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="variable_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="variable_uncertainty">
    <xs:sequence>
      <xs:element name="value" type="dimensioned_quantity"/>
      <xs:element name="uncertainty_description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="measured_variable_var_fields">
    <xs:sequence>
      <xs:element name="sampling" type="sampling_type" minOccurs="0"/>
      <xs:element name="collection_method" type="xs:string"/>
      <xs:element name="collection_instrument_type" type="xs:string"/>
      <!-- controled vocab ? -->
      <xs:element name="analyzing_instrument" type="instrument_ref"/>
      <xs:element name="analysis_method" type="described_reference"/>
      <xs:element name="qc_flagging" type="qc_flag_info" minOccurs="0"/>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="sampling_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continuous"/>
      <xs:enumeration value="discrete"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="discrete_variable_var_fields">
    <xs:sequence>
      <xs:element name="storage_method"/>
      <xs:element name="container_volume"/>
      <xs:element name="container_airspace"/>
      <xs:element name="field_replicate_info"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="continuous_variable_var_fields">
    <xs:sequence>
      <xs:element name="intake_location" type="xs:string"/>
      <xs:element name="intake_depth" type="depth_m"/>
      <xs:element name="sampling_rate" type="dimensioned_quantity"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="derived_variable_var_fields">
    <xs:sequence>
      <xs:element name="data_sources">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source_variable" type="xs:IDREF" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="calculation_method" type="reference_or_description"/>
    </xs:sequence>
  </xs:group>

  <xs:group name="synthesis_product_variable_var_fields">
    <xs:sequence> </xs:sequence>
  </xs:group>

  <xs:group name="calculated_product_variable_var_fields">
    <xs:sequence> </xs:sequence>
  </xs:group>

  <xs:group name="experiment_variable_var_fields">
    <xs:sequence/>
  </xs:group>

  <xs:group name="biological_variable_var_fields">
    <xs:sequence>
      <!-- species identifier(s?) : standard vocab -->
      <!-- collection location(s?) -->
    </xs:sequence>
  </xs:group>

  <xs:group name="model_variable_var_fields">
    <xs:sequence/>
  </xs:group>

  <xs:complexType name="qc_flag_info">
    <xs:sequence>
      <xs:element name="flagging_scheme">
        <xs:complexType>
          <xs:choice>
            <xs:element name="description" type="xs:string"/>
            <xs:sequence>
              <xs:element name="scheme" type="URI_reference"/>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="qc_flag_varname" type="xs:string" minOccurs="0"/>
      <!-- XXX ??? if missing, assume datasetVarName + "_qc" -->
    </xs:sequence>
  </xs:complexType>

</xs:schema>
