schema/variable_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE version SYSTEM "version.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="https://ncei.noaa.gov/ocads/v4.6" xmlns="https://ncei.noaa.gov/ocads/v4.6"
  xmlns:oa="https://ncei.noaa.gov/ocads/v4.6"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
  
  <xs:include schemaLocation="common_types.xsd"/>
  <xs:include schemaLocation="instrumentation.xsd"/>
  <xs:include schemaLocation="people.xsd"/>
  
  <xs:simpleType name="variable_class_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MEASURED"/>  <!-- ??? What about subjective observations? -->
      <xs:enumeration value="DERIVED"/> <!-- Calculated from other variables in dataset -->
      <xs:enumeration value="COMPILATION"> 
        <!-- compilation of observations from other datasets ??? what special information would be needed here? -->
      </xs:enumeration>
      <xs:enumeration value="MANIPULATION"/>
      <xs:enumeration value="GENERATED"/> <!-- Calculated by model -->
      <xs:enumeration value="SOCIAL"/> 
    </xs:restriction>
  </xs:simpleType>
  
  <xs:group name="minimum_variable_fields">
    <xs:sequence>
      <xs:element name="standard_name" type="vocabulary_item_reference"/>
      <!-- ?? multiple / different vocabs? 
      <xs:element name="alt_identifier" type="vocabulary_item_reference" maxOccurs="unbounded" minOccurs="0"/> 
      -->
      <xs:element name="dataset_variable_name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            How the variable is identified in the dataset data file.
            This could be, for example, the column header in a CSV 
            or the variable name in a NetCDF file.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="long_name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:choice>
        <xs:element name="units" type="xs:string" /> <!-- preferrably from controlled vocab,  quant/qualitative?-->
        <xs:element name="ph_scale" type="ph_scale_types" /> <!-- XXX This isn't great here, because we want to be able to enforce this. --> 
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="ph_scale_types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="total" />
      <xs:enumeration value="seawater"/>
      <xs:enumeration value="NBS"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:group name="common_var_additional_fields">
    <xs:sequence>
      <xs:element name="missing_value_indicator" type="xs:string" minOccurs="0"> <!-- ??? Numeric? -->
        <xs:annotation><xs:documentation>
            Required if different from dataset:default_missing_value, 
            or default is not specified. 
          </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="qc_flagging_scheme" type="reference_or_description" minOccurs="0">
        <xs:annotation><xs:documentation>
            Required if different from dataset:default_qc_flagging_scheme, 
            or default is not specified. 
          </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="qc_flag_variable" type="xs:string" minOccurs="0"/> 
      <xs:element name="qc_steps_taken" type="xs:string" minOccurs="0"/>
      <xs:element name="appropriate_use_quality" type="appropriate_use_quality" minOccurs="0"/> <!-- Weather, Climate, Other -->
      <xs:element name="overall_uncertainty" type="variable_uncertainty" minOccurs="0"/>
      <xs:element name="additional_information" type="xs:string" minOccurs="0"/>
      <xs:element name="measurement_researcher" type="person_ref" minOccurs="0"/>
      <xs:element name="qc_researcher" type="person_ref" minOccurs="0"/>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="all_common_fields">
    <xs:sequence>
      <xs:group ref="minimum_variable_fields"/>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="sampling_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continuous"/>
      <xs:enumeration value="discrete"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="sampling_type_element">
    <xs:attribute name="type" type="sampling_type" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="sampling_info">
    <xs:complexContent>
      <xs:extension base="sampling_type_element">
        <xs:choice minOccurs="0">
          <xs:element name="capture" type="discrete_var_sampling_info"/>
          <xs:element name="intake" type="continuous_var_sampling_info"/>
        </xs:choice>
        <!-- java code gen does not like asserts... -->
        <xs:assert 
          test="
                (@type = 'discrete' and not(exists(oa:continuous))) or 
                (@type = 'continuous' and not(exists(oa:discrete)))"/>  <!-- (not(exists(@type) and exists(ancestor::oa:measured)) or -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="discrete_var_sampling_info">
    <xs:sequence>
      <xs:element name="sample_storage" type="sample_storage" minOccurs="0"/>
      <xs:element name="field_replicate_info" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sample_storage">
    <xs:sequence>
      <xs:element name="method_description" type="xs:string"/>
      <xs:element name="container_volume" type="xs:string" minOccurs="0"/>
      <xs:element name="seawater_volume" type="xs:string" minOccurs="0"/>
      <xs:element name="headspace_volume" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="continuous_var_sampling_info">
    <xs:sequence>
      <xs:element name="location" type="xs:string"/>
      <xs:element name="depth" type="depth_m"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="genesis_type">
    <xs:choice>
      <xs:element name="measured" type="measured_var_info"/>
      <xs:element name="calculated" type="calculated_var_info"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="measured_var_info" abstract="false">
    <xs:sequence>
      <xs:element name="collection_method" type="xs:string"/>
      <xs:element name="collection_instrument_type" type="xs:string"/>
      <xs:element name="sampling" type="sampling_info"/>
      <xs:element name="analysis_method" type="reference_or_description"/>
      <xs:element name="deviations_from_method" type="xs:string" minOccurs="0"/>
      <xs:element name="sensor_data_conversion" type="sensor_raw_data_conversion" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sensor_raw_data_conversion">
    <xs:sequence>
      <xs:element name="conversion_calculation_method" type="xs:string" />
      <xs:element name="conversion_software" type="software_info" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="calculation_info">
    <xs:sequence>
      <xs:element name="calculation_method" type="reference_or_description"/>
      <xs:element name="parameters" minOccurs="0">
        <xs:complexType>
         <xs:sequence>
           <xs:element name="parameter" type="calc_param" maxOccurs="unbounded" />
         </xs:sequence>
        </xs:complexType>
      </xs:element>      
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calc_param">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="calculated_var_info">
    <xs:annotation>
      <xs:documentation>
        General info for calculated variables.
      </xs:documentation>
    </xs:annotation>
        <xs:sequence>
          <xs:element name="sampling" type="sampling_type_element"/>
          <xs:element name="calculation" type="calculation_info" minOccurs="0"/> <!-- ??? break down? more specificity? -->
          <xs:element name="sources" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="variable" type="variable_ref" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
  </xs:complexType>  
 
  <xs:complexType name="gridded_var_info">
  </xs:complexType>
    
  <xs:simpleType name="appropriate_use_quality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="climate"/>
      <xs:enumeration value="weather"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
 
  <xs:complexType name="variable_uncertainty">
    <xs:sequence>
      <xs:element name="value" type="dimensioned_quantity"/>
      <xs:element name="uncertainty_description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Inline reference element types -->
  <xs:complexType name="variable_ref">
    <xs:annotation>
      <xs:documentation>
        An inline variable element referencing a concrete representation in the variables collection. 
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="object_id" type="xs:IDREF" use="required"/>
    <xs:attribute name="object_class"  type="xs:string" fixed="Variable"/>
  </xs:complexType>
  
</xs:schema>
