schema/variables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schema SYSTEM "version.dtd">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="&NAMESPACE;" xmlns="&NAMESPACE;" xmlns:oa="&NAMESPACE;"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
  >

  <xs:include schemaLocation="variable_fields.xsd"/>

  <xs:complexType name="variable" abstract="true">
    <xs:complexContent>
      <xs:restriction base="element_instance">
        <xs:attribute name="object_class" type="xs:string" fixed="Variable"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="basic_variable">
    <xs:complexContent>
      <xs:extension base="variable">
        <xs:sequence>
          <xs:group ref="minimum_variable_fields"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="std_variable_base" abstract="true">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="observation_type" type="xs:string"/>
          <!-- ???  what will these be? DSG type? Exp type? /> -->
          <xs:group ref="common_var_additional_fields"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="insitu_variable" abstract="true">
    <xs:complexContent>
      <xs:extension base="std_variable_base">
        <xs:sequence>
          <!-- <xs:element name="sampling" type="sampling_type"/> -->
          <xs:choice>
            <xs:element name="measured" type="measured_var_info"/>
            <xs:element name="calculated" type="calculated_var_info"/>
            <xs:element name="gridded" type="gridded_var_info"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="basic_measured_observation_base" abstract="true">
    <xs:complexContent>
      <xs:restriction base="insitu_variable">
        <xs:sequence>
          <xs:group ref="minimum_variable_fields"/>
          <xs:element name="observation_type" type="xs:string"/>
          <xs:group ref="common_var_additional_fields"/>
          <xs:element name="measured" type="measured_var_info"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="basic_measured_variable">
    <xs:complexContent>
      <xs:extension base="basic_measured_observation_base">
        <xs:sequence>
          <xs:element name="analyzing_instrument" type="standard_instrument"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="basic_calculated_observation_base">
    <xs:complexContent>
      <xs:restriction base="insitu_variable">
        <xs:sequence>
          <xs:group ref="minimum_variable_fields"/>
          <xs:element name="observation_type" type="xs:string"/>
          <xs:group ref="common_var_additional_fields"/>
          <xs:element name="calculated" type="calculated_var_info"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="basic_calculated_variable">
    <xs:complexContent>
      <xs:extension base="basic_calculated_observation_base"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="std_observed_variable">
    <xs:complexContent>
      <xs:extension base="basic_measured_observation_base">
        <xs:sequence>
          <xs:element name="analyzing_instrument" type="standard_instrument"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DIC_measured">
    <xs:complexContent>
      <xs:extension base="basic_measured_observation_base">
        <xs:sequence>
          <xs:element name="analyzing_instrument" type="crm_instrument"/>
          <xs:element name="sample_preservation" type="sample_preservation" minOccurs="0" maxOccurs="1"/>
          <xs:element name="blank_correction" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sample_preservation">
    <xs:sequence>
      <xs:element name="preservative" type="xs:string"/>
      <xs:element name="volume" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="correction_description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TA_measured">
    <!-- ??? spell it out? -->
    <xs:complexContent>
      <xs:extension base="DIC_measured">
        <!-- basic_observation + preservative -->
        <xs:sequence>
          <xs:element name="titration_type" type="xs:string"/>
          <xs:element name="cell_type" type="xs:string"/>
          <xs:element name="curve_fitting" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pH_measured">
    <xs:complexContent>
      <xs:extension base="basic_measured_observation_base">
        <xs:sequence>
          <xs:element name="analyzing_instrument" type="pH_instrument"/>
          <xs:element name="measurement_temperature" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="temperature_correction_method" type="xs:string" minOccurs="0"
            maxOccurs="1"/>
          <xs:element name="ph_report_temperature" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="co2_measured_base" abstract="true">
    <xs:complexContent>
      <xs:extension base="basic_measured_observation_base">
        <xs:sequence>
          <!-- <xs:element name="analyzing_instrument" type="instrument_ref"/>  gas_detector ??? -->
          <xs:element name="water_vapor_correction" type="xs:string"/>
          <xs:element name="temperature_correction_method" type="xs:string"/>
          <xs:element name="co2_report_temperature" type="xs:string"/>
          <xs:element name="gas_detector" type="co2_gas_detector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="co2_continuous_variable">
    <xs:complexContent>
      <xs:extension base="co2_measured_base">
        <xs:sequence>
          <xs:element name="equilibrator" type="equilibrator" minOccurs="0" maxOccurs="1"/>
          <xs:element name="co2_drying_method" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="eq_pressure_measurement" type="sensor_measurement"/>
          <xs:element name="eq_temperature_measurement" type="sensor_measurement"/>
          <xs:element name="atm_pressure_measurement" type="sensor_measurement"/>
          <xs:element name="atm_co2" type="atm_co2"/>
          <xs:element name="xco2_pco2_calculation_method" type="xs:string" minOccurs="0"/>
          <xs:element name="pco2_fco2_calculation_method" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="co2_discrete_variable">
    <xs:complexContent>
      <xs:extension base="co2_measured_base">
        <xs:sequence>
          <xs:element name="storage_method" type="xs:string"/>
          <xs:element name="seawater_volume" type="xs:string"/>
          <xs:element name="headspace_volume" type="xs:string"/>
          <xs:element name="measurement_temperature" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="co2_calculated_variable">
    <xs:complexContent>
      <xs:extension base="basic_calculated_observation_base"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="co2_reported_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sensor_measurement">
    <xs:sequence>
      <xs:element name="method" type="xs:string"/>
      <xs:element name="sensor" type="sensor"/>
      <xs:element name="sensor_location" type="xs:string"/>
      <xs:element name="comments" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="atm_co2">
    <xs:sequence minOccurs="0">
      <xs:element name="location" type="xs:string"/>
      <xs:element name="height" type="altitude_m"/>
      <xs:element name="measurement_interval" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="measured" type="xs:boolean" use="required"/>
    <!-- Just trying out conditional validation. -->
    <!-- java gen doesn't like this
    <xs:assert test="(@measured = true() and oa:location != '' ) or (@measured = false() and not(exists(oa:location)))"/>
    -->
    <!--  saxon:message="saxon failure: " xerces:message="xerces failure: " -->
  </xs:complexType>

  <xs:complexType name="biological_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="biological_var_fields" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="model_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="model_var_fields" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="phys_response_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="phys_response_var_fields" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sediment_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="sediment_var_fields" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="social_variable">
    <xs:complexContent>
      <xs:extension base="basic_variable">
        <xs:sequence>
          <xs:element name="social_var_fields" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uniform_variable_collection">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="variable" type="variable"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="variable_list">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="basic" type="basic_variable"/>
      <xs:element name="observed" type="std_observed_variable"/>
      <xs:element name="DIC" type="DIC_measured"/>
      <xs:element name="TA" type="TA_measured"/>
      <xs:element name="pH" type="pH_measured"/>
      <xs:element name="co2_discrete" type="co2_discrete_variable"/>
      <xs:element name="co2_continuous" type="co2_continuous_variable"/>
      <xs:element name="co2_reported" type="co2_reported_variable"/>
      <xs:element name="biological_variable" type="biological_variable"/>
      <xs:element name="model_variable" type="model_variable"/>
      <xs:element name="phys_response_variable" type="phys_response_variable"/>
      <xs:element name="sediment_variable" type="sediment_variable"/>
      <xs:element name="social_variable" type="social_variable"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="full_variable_list">
    <xs:sequence>
      <xs:element name="basic" type="basic_variable"/>
      <xs:element name="observed" type="std_observed_variable"/>
      <xs:element name="calculated" type="basic_calculated_variable"/>
      <xs:element name="DIC" type="DIC_measured"/>
      <xs:element name="TA" type="TA_measured"/>
      <xs:element name="pH" type="pH_measured"/>
      <xs:element name="co2_discrete" type="co2_discrete_variable"/>
      <xs:element name="co2_continuous" type="co2_continuous_variable"/>
      <xs:element name="co2_reported" type="co2_reported_variable"/>
      <xs:element name="biological_variable" type="biological_variable"/>
      <xs:element name="model_variable" type="model_variable"/>
      <xs:element name="phys_response_variable" type="phys_response_variable"/>
      <xs:element name="sediment_variable" type="sediment_variable"/>
      <xs:element name="social_variable" type="social_variable"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="generic_variables_collection">
    <xs:sequence>
      <xs:element name="variable" type="variable" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="variable_collection">
    <xs:complexContent>
      <xs:extension base="variable_list"/>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>
